*{
  margin:0 auto;
  padding:  0 auto;
}
.container{
position: absolute;
top: 0;
z-index: 10;

}

.wrapper{}
.menu-babr{}
.left{
  display: inline-block;
  vertical-align: middle;
  margin-left: 100px;
}
.right{
  display: inline-block;
  margin-left: 100px;
}
.right ul li{
  display: inline-block;
  list-style: none;

}
.right ul li a{
  text-decoration: none;
  margin-right: 10px;
  font-size: 15px;
  font-family: sans-serif;
  color: #f39c12;

}
.center{
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;

}
.center ul li {
  display: inline-block;
  list-style:none;
  margin-left: 15px;
  color: white;

}
#image{


}
#logo {vertical-align: middle;}
#span
{
 font-size: 30px;
 font-weight: bold;
 font-family: impact;
 margin-left: 10px;
 color: #f39c12;
}
#ministiedd
{
display: none;
}
#bookshopdb{
  display: none;
}
#account{
  border: 1px solid white;
  height: 30px;
  width: 120px;
  line-height: 30px;
  border-radius: 3px;
  padding-left: 10px;
}
#login{
  border: 1px solid white;
  height: 30px;
  width:50px;
  line-height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  background-color:#c23616;
  border-color: #c23616;
}
#image{
   width: 100%;
   height: 600px;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-origin: border-box;
   object-fit: cover;


}
.image{
  background-color:black;
  position: absolute;
  z-index: 5;
  opacity: 0.9;
}
