
* {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    
    font-family: 'Open Sans', sans-serif;
}

body, html {
    height: 100%;
    opacity: 0.9;
}

#center1 {
    height: 100%;
}

#left_img {
    padding: 10px;
    margin: 5%;
    margin-top: 20%;
    display: none;
}

#left {
    float: left;
    height: 100%;
    margin: 0;
    width: 60%;
    height: 100%;
    box-sizing: border-box;
/*    border-right: 1px solid #000;*/
    background: #e74c3c;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.5) , 0 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #e74c3c, #ee5253);
    z-index: 10;
}

#left center h1 {
    margin: 21% auto;
    font-size: 45px;
    text-shadow: 0 0 5px white, 0, 0 5px white;
    height: 100px;
    line-height: 30px;
}

#right {
    float: right;
    height: 100%;
    width: 40%;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
    background: #34495e;
}

#left header {
    width: 100%;
    height: 10%;
    background: black;
    opacity: 0.8;
    margin: 0px;
    padding: 0px;
}

#container {
    width: 90%;
    height: 60%;
    text-align: center;
    margin: 0 auto;
    margin-left: 6%;
    margin-top: 40%;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.2) , 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

#container img {
    width: 180px;
    height: 180px;
    margin-top: -80px;
    margin-bottom: 50px;
}

input[type="text"], input[type="password"] {
    position: relative;
    width: 80%;
    height: 55px;
    font-size: 18px;
    margin-bottom: 60px;
    padding-left: 40px;
    border: none;
    border-bottom: 3px solid #e74c3c;
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2) , 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    float: left;
    margin: 40px auto;
    width: 30%;
    height: 30%;
    transform: scale(2);
    appearance: none;
    padding: 10px;
}

#container form button {
    margin-right: 50px;
    margin-top: 40px;
    float: right;
    padding: 15 20px;
    background: #e74c3c;
    border: none;
    border-radius: 4px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3) , 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}

#bottom_layer {
    padding: 30px;
    margin: 50px auto;
}

#bottom_layer p {
    margin: 30px auto;
    font-weight: 400;
}

.color_scheme {
    border: 3px solid #e74c3c;
}

#container form button:hover {
    cursor: pointer;
}

.clear {
    clear: both;
}
