
* {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#center1 {
    height: 100%;
}

#left_img {
    padding: 10px;
    margin: 5%;
    margin-top: 20%;
    display: none;
}

#left {
    position: relative;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
/*    border-right: 1px solid #000;*/
    background: #fff;
/*
    background-image: url("../image/2015+Covers+Collage.3.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
*/
/*    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.5) , 0 10px 10px 10px rgba(0, 0, 0, 0.5);*/
/*    background: linear-gradient(to right, #e74c3c, #ee5253);*/
}

#left bg {
    
}

#top {
    display: none;
    width: 100%;
    height: 10%;
    position: relative;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 4px 7px 4px rgba(0, 0, 0, 0.2) , 0 4px 7px 4px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

#container {
    width: 40%;
    height: 20%;
    text-align: center;
    margin: 0 auto;
    margin: 6%;
    margin-bottom: 0px;
    margin-top: 0;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.2) , 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#container img {
    width: 150px;
    height: 150px;
    margin-top: -80px;
    margin-bottom: 50px;
}

input[type="text"], input[type="password"] {
    position: relative;
    width: 70%;
    height: 40px;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 15px;
    border: none;
    border-bottom: 3px solid #ffaf40;
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2) , 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    float: left;
    margin: 40px auto;
    margin-left: 10px;
    width: 30%;
    height: 30%;
    transform: scale(2);
    appearance: none;
}

#check_box {
    float: left;
    width: 65%;   
    margin-left: 5px;
}

#check_box p {
    margin-top: 36px;
    margin-left: 0px;
    margin-right: 60px;
    font-size: 13px;
}

.btn_login {
    position: relative;
    width: 20%;
    height: 45px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20 30px;
    font-weight: 500;
    background: #eb2f06;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3) , 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    border: none;
}

.btn_login:active {
    border: none;
}

.btn_login:link {
    border: none;
}

#top_level {
    position: absolute;
    width: 80%;
    height: auto;
    top: 20%;
    left: 0;
    right: 0px;
    padding: 30px;
    margin: 30px auto;
    z-index: 10;
    color: #eb2f06;
}

#top_level img {
    transform: rotate(90);
}

#top_level h1 {
    margin: 20px;
    font-size: 40px;
    line-height: 20px;
    width: 100%;
    height: 40px;
    padding: 40px;
    box-sizing: border-box;
}

#top_level ul {
    list-style : square;
}

#top_level ul li {
    text-align: left;
    margin: 50px auto;
    font-size: 17px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
}

.opaque {
    opacity: 1;
}

.trans_area {
    display: none;
    position: relative;
    width: 100%;
    height: 90%;
    padding: 0px;
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
}

#bottom_layer {
    width: 70%;
    margin: 40px auto;
    margin-bottom: 0px;
}

.lil_link a {
    color: #ffaf40;
    margin: 0px 2%;
}

.lil_link {
    color: wheat;
}

.lil_link a:hover {
    color: brown;
}

#bottom_layer p {
    margin: 30px auto;
    font-weight: 400;
}

.color_scheme {
    border: 3px solid #e74c3c;
}

#container form button:hover {
    cursor: pointer;
}

.drop_down {
    display: none;
}

#top nav {
    width: 100%;
}

.top_nav {
    list-style: none;
}

.top_nav li {
    display: inline-block;
    margin: 30px 20px;
}

.top_nav li a {
    text-decoration: none;
    color: white;
}

.top_nav li a:hover {
    color: #ffaf40;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    
    from {
        color: #fff;
    }
    to {
        color: #ffaf40;
    }
}

footer {
    width: 100%;
    height: auto;
    padding: 10px 0px;
    padding-bottom: 0px;
    font-size: 14px;
    border-top: 1px #e74c3c solid;
    text-align: center;
}

#top nav ul {
    
}

.clear {
    clear: both;
}

/*
@media screen and (max-width: 950px) {
    
    * {
        height: 100%;
    }
    #left {
        display: none;
    }
    
    #right {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    #container {
        width: 60%;
        height: 60%;
        margin: 0 auto;
        margin-top: 30%;
    }
    
    input[type="text"], input[type="password"] {
        position: relative;
        width: 80%;
        height: 55px;
        padding: 0px;
        margin: 0px;
    }

    input[type="checkbox"] {
        float: left;
        margin: 40px auto;
        margin-left: 10px;
        width: 30%;
        height: 30%;
        transform: scale(2);
        appearance: none;
    }
    
    #check_box p {
        margin-top: 2px;
        margin-left: 0px;
        margin-right: 2px;
        font-size: 2px;
    }

    .btn_login {
        position: relative;
        width: 20%;
        height: 45px;
        float: right;
        padding: 20 30px;
        font-weight: 500;
        background: #eb2f06;
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3) , 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    }
    
    .form_input {
        margin: 0px;
        padding: 0px;
    }
    
    .clear {
        clear: none;
    }
    
    .lil_link {
        padding: 0px;
        margin: 0px;
    }
    
    p {
        padding: 0px;
        margin: 0px;
    }
}
*/
