
* {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#center1 {
    height: 100%; 
}

#right {
    float: left;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
/*    background: #FD7272;*/
    background: #ffaf40;
    background-image: url("../image/2015+Covers+Collage.3.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
}

#container {
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.2) , 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

#container img {
    width: 180px;
    height: 180px;
    margin-top: -80px;
    margin-bottom: 50px;
}

input[type="text"], input[type="password"] {
    position: relative;
    width: 80%;
    height: 55px;
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 40px;
    border: none;
    border-bottom: 3px solid #ffaf40;
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2) , 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
}

input:focus-within {
    border: 1px transparent #000;
}

input[class="s_box"] {
    width: 10%;
    height: 35px;
    border-radius: 0px;
    text-align: center;
}


.btn_login {
    width: 20%;
    height: 45px;
    margin: 30px auto;
    margin-left: 60%;
    font-weight: 500;
    background: #eb2f06;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3) , 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}

#bottom_layer {
    width: 10%;
    padding: 30px;
    margin: 20px auto;
    margin-right: 30px;
    color: #ffaf40;
    font-weight: bold;
}

.lil_link a {
    color: wheat;
    margin: 0px 2%;
}

.lil_link {
    color: wheat;
}

.lil_link a:hover {
    color: brown;
}

#bottom_layer p {
    margin: 30px auto;
    font-weight: 400;
}

.color_scheme {
    border: 3px solid #e74c3c;
}

#container form button:hover {
    cursor: pointer;
}

footer {
    width: 100%;
    height: auto;
    background: black;
    color: white;
    padding: 30px;
    font-size: 14px;
    border-top: 1px #e74c3c solid;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
}

.clear {
    clear: both;
}