body, html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

header {
    
    background-image: url("../images/backgoung.jpg");
    
    height: 50%;
    
    position: relative;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bi {
    background: black;
    height: 100%;
    opacity: 0.6;
    z-index: 10;
}

.header_container {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    
    width: 100%;
    box-sizing: border-box;
}

#logo {
    position: relative;
/*    background: black;*/
    height: 100%; 
    padding: 20px;
    
    box-sizing: border-box;
    float: left;
}