*{
  margin:0 auto;
  padding:  0 auto;
  font-family: 'Work Sans', sans-serif;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

#title {
    max-width: 320px;
    max-height: 18px;
    overflow: hidden;
   
}

.book_case {
   font-size: 14px;
}

#book_container {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 20px;
    display:inline-block;
    
}

.center i{
  border: solid #c23616;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down{
  transform: rotate(45deg);
  -webkit-transform:rotate(45deg);
  margin-left: 3px;

}
.container{

position: absolute;
top: 0;
z-index: 10;
text-align: center;
width: 100%;

}

.wrapper{ margin-left: 100px; margin-right: 20px;}
.menu-babr{}
.image img{
-webkit-filter: brightness(10%);
filter: brightness(10%);

}
.left{
  display: inline-block;
  vertical-align: middle;

}
.center{
  display: inline-block;
  margin-left: 20px;
}
.center ul li{
  display: inline-block;
  list-style: none;

}
.center ul li a{
  text-decoration: none;
  margin-right: 10px;
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  text-transform: capitalize;

}
.center ul li a:hover{
  color: orange;
}
.right{
  display: inline-block;
  margin-right: 50px;
  margin-left: 30px;

}
.right ul li {
  display: inline-block;
  list-style:none;
  margin-left: 15px;
  color: white;

}
.text{
  margin-top: 40px;
  text-align: center;
  animation: 6s ease-out 0s 1 slideInFromLeft;

}
.text p{
  color: white;
  font-size: 40px;
  font-weight: 900;
}
.text p b{
  color: #26dac3;
  font-size:35px;
}
.seache{
  margin-top: 80px;
}
.seachebar
{
  width: 85%;
  text-align: center;
  height: 80px;

  line-height: 80px;
  background-color:#fe8315;
  border-color:#fe8315;
  border-radius: 5px;
}
.float{
margin-top: 50px;
margin-bottom: 10px;
display: inline-block;
width: 100%;
animation: 3s ease-out 0s 1 slideInFromLeft;
}
.foating{

  display: inline-block;
  text-align:left;
}
.line{
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  height: 130px;
  width: 250px;
  color: white;
  border:1px solid rgba(0, 0, 0, 0);
  padding-left: 80px;
  padding-top: 30px;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 5px;

}
.line i{
  display: inline-block;
}
.line h3{
  margin: 5px;
  font-weight: bold;
}
.line h4{
  font-weight: normal;
  quotes:'\00AB' '\00BB';
}
.line h5{
  color: #26dac3;
  margin: 5px;
  cursor: pointer;
}
.line h5:hover{
  color:#fe8315;
}
.middle{
  margin-top: 40px;
}
.these{}
.these p{
  text-align: center;
  font-size: 26px;
  font-family: sans-serif;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.books{
  width:90%;
   margin-left:  8%;
  display: inline-block;
  text-align: left;
/*  padding-left: 20px;*/
   
   

}
.book{
display: inline-block;
/*margin-left: 80px;*/
margin-bottom: 60px;

}
.book img{
  text-align: center;
}

.det dt{
  display:inline-table;
  font-weight: bold;
  margin-top: 7px;
  margin-right: 10px;
  color: gray;

}
.det dd{
  display:inline-table;
  font-family: sans-serif;
  color: blue;
  font-size: 15px;
}
dl{

}
.btst{
  margin-top: 20px;
  height: 35px;
  width:120px;
  border: 1px solid #26dac3;
  color: white;
  background-color:#26dac3;
  float: left;
  font-size: 14px;
  line-height: 35px;
  border-radius: 5px;
  padding-left: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.btst:hover{
  opacity: 0.8;

}
#b{
  border: none;
    background-color:#26dac3;
    color: white;

}
.aboutus{}
.about{
  position: relative;
  z-index: 10;
  width: 100%;
    box-sizing: border-box;
}

.about p{
  text-align: center;
  font-size: 25px;
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;


}
.p1{display: inline-block;
margin-bottom: 20px;
 padding-top: 10px;
text-align: left;
margin-right:30px;
}
.numbers
{
  height: 20px;
  width: 60px;
  line-height: 0px;
  color: white;
  background-color: orange;
  border: 1px solid orange;
  float: left;
  vertical-align: middle;
  display: inline-block;
  border-radius: 100%;
  text-align:center;
  font-size:9px;


}
.categories
{
  width: 100%;
  height: 600px;
  background-color: #1abfa4;
  margin-top: 10px;
  box-sizing: border-box;
}
.subcategories{}
.cate{
  margin-top: 50px;
  display: inline-block;
}
.cate ul{

}
.cate li{
  list-style: none;
  margin-top: 10px;
   margin-left: 20px;
}
.cate  a{
  text-decoration: none;
  color: white;
  font-size:12px;
}
.cate a:hover{
  color: orange;
}
.seeall{
  height: 30px;
  text-align: center;
  width: 200px;
  margin-top: 30px;
  border: 1px solid white;
  color: white;
  text-transform: capitalize;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.seeall p:hover{
border: 2px solid #26dac3;
 background-color: #26dac3;
 border-color: #26dac3;
   border: 1px solid#26dac3;
}
.legone{

 width: 100%;
  background-color: #212121;
  height: 500px;

}
.legswos{
  padding-top: 50px;
  display: inline-block;
  height: 200px;
}

.firstf{ display: inline-block;
margin-right: 10px;
}
.firstf li {
  list-style: none;
  margin-left: 10px;

}
.firstf a{
  color:#26dac3 ;
  text-decoration: none;
}
.footerimage{
text-align: center;
margin-top: 20px;
color: white;
}
.footerimage img{
  height: 80px;
  width: 65px;
  vertical-align: middle;
  margin-bottom: 10;
}
#menbar{
  display: none;
}

#title4{
  font-size: 15px;
  color: white;
  margin-bottom: 10px;
  display: inline-block;
}
#more{
  color: orange;
  margin-top: 20px;
  font-weight: bold;
  margin-left: 20px;
}
#title2{
  height: 35px;
  line-height: 35px;
  color: white;
  width:200px;
  background-color: #212121;
  border-radius: 5px;
  float: left;
  text-align:center;
  font-size:16px;
}
#title2:hover{
  background-color: orange;
}

#title5{
  height: 200px;
  width: 300px;
  border: 1px solid white;
  margin-top: -45px;
  vertical-align: middle;
  margin-left: 30px;
}
#para6
{
 padding-top: 30px;
 text-align: center;
 font-size: 32px;
 color: white;
 font-family: normal;
}
#span2{
 margin-left: 20px; color: orange;
 margin-top: 20px;
 display: inline-block;
}
#aboutimage
{
  height: 450px;
  width: 100%;
  position: absolute;
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
  object-fit: cover;
  object-position: center;
}
#bookimage:hover
{
  opacity: 0.3;
  cursor: pointer;
}
#para5{
  width: 350px;
  text-align: left;
  font-size: 15px;
  margin-top: 20px;
  margin-right: 10px;
}
#b{
  border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}
#title{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

#fa{
  font-size: 35px;
  color: #fe8315;
  margin-left: -60px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
#fa:hover{
  transform: rotate(40deg);
  -webkit-transform:rotate(40deg);
  transition: 1s;

}
#seach{
  height: 40px;
  width: 80%;
  padding-left:
  20px; font-size: 16px;
  border-radius: 3px;
  border: none;
  outline: none;
}
#seachsubmit{
width: 15%;
height: 40px;
margin-left: 10px;
color: white;
border-radius: 3px;
background-color:#edb712;;
border:none;
}
#logo {vertical-align: middle;}
#span
{
 font-size: 30px;
 font-weight: bold;
 font-family: impact;
 margin-left: 5px;
 color: white;
}
#ministiedd
{
position: absolute;
display: block;
width: 220px;
border: 1px solid black;
margin-top: 5px;
background-color: #212121;
color: white;
text-align: left;
z-index:100;

display: none;
padding: 5px;
padding-bottom: 10px;
}
#ministiedd li{
  margin-top: 10px;
  padding-bottom: 5px;
  text-align: left;


}
#ministiedd li a:hover{

color: orange;
}
#ministiedd a{
  font-size: 13px;
  border-bottom: 10px;
  margin-left: 5px;
}
#bookshopdb
{
position: absolute;
display: block;
width: 120px;
border: 1px solid black;
margin-top: 5px;
background-color: #212121;
color: white;
text-align: left;
z-index:100;
margin-left: 155px;
display: none;
font-size: 15px;
}

#bookshopdb li{
  margin-top: 10px;
  padding-bottom: 5px;
  text-align: left;
  text-align: left;
font-size: 15px;

}
#bookshopdb  a:hover{

color: orange;
font-size: 15px;
text-transform: capitalize;
text-transform: lowercase;
}
#bookshopdb a{
  font-size: 13px;
  border-bottom: 10px;
  margin-left: 5px;
}

#account{
  border: 2px solid orange;
  width: 140px;
  height: 35px;
  line-height: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0px;
}

#account:hover {
    cursor: pointer;
    background: orange;
}

#account a {
    color: white;
    text-decoration: none;
}

#login{
  border: 1px solid white;
  height: 30px;
  width:50px;
  line-height: 30px;
  border-radius: 5px;
  padding-left: 2px;
  background-color:#26dac3;
  border-color: #26dac3;
}

#login a {
    color: white;
    text-decoration: none;
}

#login:hover {
    
}

#image{
   width: 100%;
   height: 750px;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-origin: border-box;
   object-fit: cover;
}
#hr{
  width:100%;
  border: 0.5px solid white;
  margin-top: 10px;
 overflow: hidden;
 box-sizing: border-box;
}
#bookimages{
	height:200px;
	width:130px;
}
@media only screen and (max-width:1280px){
  .container{text-align:none;}
  .wrapper{margin-left:20px;}
  .left{
    margin-left: -40px;
  }
  .books{
    width: 90%;
    display: inline-block;
    text-align: left;
    margin-left: 8%;
     

  }
  .categories{
	  height:900px;
  }
  .right{
    margin-left: -10px;
    margin-right: -10px;
  }
  .line{
    margin-right: -3px;
  }
  
  #title2{
    height: 30px;
    line-height: 30px;
    color: white;
    width:`100px;
    box-sizing: border-box;
    background-color: #212121;
    border-radius: 5px;
    float: left;
    font-size: 13px;
    text-align: center;
  }
  #para5{
    width: 300px;
    text-align: left;
    font-size: 12px;
    margin-top: 0px;
    margin-right: 10px;


  }
  #aboutimage
  {
    height: 400px;
    width: 100%;
    position: absolute;
    -webkit-filter: brightness(35%);
    filter: brightness(35%);
    object-fit: cover;
    object-position: center;
  }
    #book_container{
       
    }
    
}

@media only screen and (max-width:1024px){
  .container{text-align:none; width: 0 auto;}
.wrapper{
}
.left{
  margin-left: -80px;

}
#para5{
  width: 200px;
  text-align: left;
  font-size: 12px;
  margin-top: 0px;
  margin-right: 10px;


}
#span{
  font-size: 25px;
}
.center{
  margin-left: -15px;

}
.center ul li a{
  text-decoration: none;

  margin-right: 5px;
  font-size: 15px;
  font-family: sans-serif;
  color: white;;
}
.right{
margin-right: -10px;
margin-left: -25px;
margin-top: -20%;
}
.line{
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  height: 150px;
  width: 200px;
  color: white;
  border:1px solid rgba(0, 0, 0, 0.4);
  padding-left: 70px;
  padding-top: 30px;
  box-sizing: border-box;
  margin: 3px;
  border-radius: 5px;

}
.legone{

width: 100%;
background-color: #212121;
height: 450px;

}
.firstf{
  margin-left: 5px;
}
.categories
{
  width: 100%;
  height: 800px;
  background-color: #1abfa4;
  margin-top: 10px;
  box-sizing: border-box;
}
.p1{
 margin: 10px;
}
#numbers{

}

#para5{

  font-size: 12px;
  width: 250px;
}
.firstf{ display: inline-block;
margin-right: 0px;
}
.firstf li {
  list-style: none;
  margin-left: 0px;

}
.firstf a{
  color:#26dac3 ;
  text-decoration: none;
}
#title5{
  height: 150px;
  width: 250px;
  border: 1px solid white;
  margin-top: -45px;
  vertical-align: middle;
  margin-left:5px;
}
#span2{
 margin-left: 10px; color: orange;
 margin-top: 20px;
 display: inline-block;
 width: 100px;
}
.p1{display: inline-block;
margin-bottom: 0px;
 padding-top: 10px;
text-align:left;
}
.about{
  position: relative;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0px;
}

.about p{
  text-align: center;
  font-size: 25px;
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;


}
}
@media only screen and (max-width:800px){
  .float{
  margin-top: 50px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  animation: 3s ease-out 0s 1 slideInFromLeft;
  margin-left: 50px;

  }
  body{
    overflow-x: hidden;
  }

  .foating{

    display: inline-block;
    text-align:left;
  }
  .line{
      text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    height: 130px;
    width: 250px;
    color: white;
    border:1px solid rgba(0, 0, 0, 0.4);
    padding-top: 30px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 5px;
    margin-left:30px;

  }
  .line i{
    display: inline-block;
  }
  .line h3{
    margin: 5px;
    font-weight: bold;
  }
  .line h4{
    font-weight: normal;
  }
  .line h5{
    color: #26dac3;
    margin: 5px;
    cursor: pointer;
  }
  .line h5:hover{
    color:#fe8315;
  }
  .books{
    width: 90%;
    display: inline-block;
    text-align: left;
    margin-left: 8%;
     

  }

  .book{
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 60px;

  }
  .aboutus{}
  .about{
    position: relative;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0px;
      margin-left: -30px;
  }

  .about p{
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;


  }
  .p1{display: inline-block;
  margin-bottom: 0px;
   padding-top: 10px;
  text-align: center;

}
  .numbers
  {
    height: 10px;
    width: 50px;
    line-height: 0px;
    color: white;
    background-color: orange;
    border: 1px solid orange;
    float: left;
    vertical-align: middle;
    display: inline-block;
    border-radius: 100%;

  }
  .categories
  {
    width: 100%;
    height: 700px;
    background-color: #1abfa4;
    margin-top: 10px;
    box-sizing: border-box;
  }
  .subcategories{}
  .cate{
    margin-top: 5opx;
    display: inline-block;
  }
  .cate ul{

  }
  .cate li{
    list-style: none;
    margin-top: 2px;
    margin-left: 20px;
  }
  .cate li a{
    font-size: 12px;
  }
  .legone{

   width: 100%;
    background-color: #212121;
    height: 500px;

  }
  .legswos{
    padding-top: 50px;
    display: inline-block;
    height: 200px;
  }

  .firstf{ display: inline-block;
  margin-right: 0px;
  }
  .firstf li {
    list-style: none;
    margin-left: 0px;

  }
  .firstf a{
    color:#26dac3 ;
    text-decoration: none;
  }
#title2{
  height: 30px;
  line-height: 30px;
  color: white;
  width:`100px;
  box-sizing: border-box;
  background-color: #212121;
  border-radius: 5px;
  float: left;
  font-size: 13px;
  text-align: center;
}
  #span2{
   margin-left: 10px; color: orange;
   margin-top: 20px;
   display: inline-block;
   width: 100px;
  }
  #image{
     width: 100%;
     height: 870px;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-origin: border-box;
     object-fit: cover;
  }
  #para5{
    width: 200px;
    text-align: left;
    font-size: 12px;
    margin-top: 0px;
    margin-right: 10px;


  }
  #aboutimage{
    height: 450px;
  }
  #title5{
    height: 150px;
    width: 250px;
    border: 1px solid white;
    margin-top: 20px;
    vertical-align: middle;
    margin-left:40px;
  }

}

@media only screen and (max-width:790px){
  .menu-bar{
    position: fixed;;
    top: 0;
    left: 0;
    right: 0;
    background-color: #212121;
    height: 50px;
    line-height: 50px;
    margin-bottom: 500px;
    z-index: 200;
  }
  .left{
  float: left;
  margin-left: 10px;
  }
  .right{

  }

  .center{
    display: none;
  }
  #menbar{
     font-size: 20px;
     color: white;
     display: inline-block;
     margin-right: 25px;
     border: 1px solid white;
     padding: 5px;
     vertical-align: middle;

  }
  #span{
    margin-left: 20px;
    font-size: 20px;

  }
  #logo{
    display: none;
  }
  #hr{
    margin-top:100px;
  }

  .float{
  margin-top: 50px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  animation: 3s ease-out 0s 1 slideInFromLeft;
  margin-left: 50px;

  }


  .foating{

    display: inline-block;
    text-align:left;
  }
  .line{
      text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    height: 130px;
    width: 250px;
    color: white;
    border:1px solid rgba(0, 0, 0, 0.4);
    padding-top: 30px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 5px;
    margin-left:30px;

  }
  .line i{
    display: inline-block;
  }
  .line h3{
    margin: 5px;
    font-weight: bold;
  }
  .line h4{
    font-weight: normal;
  }
  .line h5{
    color: #26dac3;
    margin: 5px;
    cursor: pointer;
  }
  .line h5:hover{
    color:#fe8315;
  }
  .books{
    width:100%;
    margin-left: 10%;
    display: inline-block;
    text-align: left;

  }
  .book{
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 60px;

  }
  .aboutus{
    z-index: 0;
  }

  .about{
    position: relative;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0px;
      margin-left: -0px;
      z-index: 0;

  }

  .about p{
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;


  }
  .p1{display: inline-block;
  margin-bottom: 0px;
   padding-top: 10px;
  text-align: center;

}
  .numbers
  {
    height: 10px;
    width: 50px;
    line-height: 0px;
    color: white;
    background-color: orange;
    border: 1px solid orange;
    float: left;
    vertical-align: middle;
    display: inline-block;
    border-radius: 100%;

  }
  .categories
  {
    width: 100%;
    height: 700px;
    background-color: #1abfa4;
    margin-top: 10px;
    box-sizing: border-box;
  }
  .subcategories{}
  .cate{
    margin-top: 5opx;
    display: inline-block;
  }
  .cate ul{

  }
  .cate li{
    list-style: none;
    margin-top: 2px;
    margin-left: 20px;
  }
  .cate li a{
    font-size: 12px;
  }
  .legone{

   width: 100%;
    background-color: #212121;
    height: 500px;

  }
  .legswos{
    padding-top: 50px;
    display: inline-block;
    height: 200px;
  }

  .firstf{ display: inline-block;
  margin-right: 0px;
  }
  .firstf li {
    list-style: none;
    margin-left: 0px;

  }
  .firstf a{
    color:#26dac3 ;
    text-decoration: none;
  }
#title2{
  height: 30px;
  line-height: 30px;
  color: white;
  width:`100px;
  box-sizing: border-box;
  background-color: #212121;
  border-radius: 5px;
  float: left;
  font-size: 13px;
  text-align: center;
}
  #span2{
   margin-left: 10px; color: orange;
   margin-top: 20px;
   display: inline-block;
   width: 100px;
  }
  #image{
     width: 100%;
     height: 870px;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-origin: border-box;
     object-fit: cover;
  }
  #para5{
    width: 200px;
    text-align: left;
    font-size: 12px;
    margin-top: 0px;
    margin-right: 10px;


  }
  #aboutimage{
    height: 770px;
    z-index: 0;
  }
  #title5{
    height: 150px;
    width: 250px;
    border: 1px solid white;
    margin-top: 20px;
    vertical-align: middle;
    margin-left:40px;
  }

}
